<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Social Tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Social.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>437FAA221B08A1860041030B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>437FAA391B08A1860041030B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>437FAA961B0989020041030B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>437FAAAA1B0989030041030B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
